target
.env
felix-cache
*~
bundle/org.apache.felix.bundlerepository-2.0.2.jar
bundle/org.apache.felix.gogo.command-0.14.0.jar
bundle/org.apache.felix.gogo.runtime-0.16.2.jar
bundle/org.apache.felix.gogo.shell-0.10.0.jar